<div id="footer" class="wrapper">
  	<p>
  		<a href="">首页</a>
        | <a href="">招聘英才</a>
        | <a href="">合作及洽谈</a>
        | <a href="">联系我们</a>
        | <a href="">关于我们</a>
    </p>
  	Copyright 2016-2017 <a href="www.changrentech.com" target="_blank">上海常仁信息科技有限公司</a> 版权所有<br>沪ICP备16047882号-1 <br>
   </div>
<script type="text/javascript" src="__PUBLIC__/js/jquery.cookie.js"></script>
<link href="__PUBLIC__/js/perfect/perfect-scrollbar.min.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__PUBLIC__/js/perfect/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/qtip/jquery.qtip.min.js"></script>
<link href="__PUBLIC__/js/qtip/jquery.qtip.min.css" rel="stylesheet" type="text/css">
</body>
</html>