{include file="open/header" /} 
</head>
<body>
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
	        <li><a href="{:url('category/index')}">分类管理</a></li>
			<li  class="active"><a href="{:url('category/add')}">添加分类</a></li>
	    </ul>
		<form class="form-horizontal js-ajax-form" action="{:url('category/add_post')}" method="post">
			<div class="tabbable">
		        <div class="tab-content">
		          <div class="tab-pane active">
						<fieldset>
							<div class="control-group">
								<label class="control-label">上级菜单</label>
								<div class="controls">
									<select name="parent_id">
										<option value="0">作为一级菜单</option>
										{$categorys}
										<!-- 这里写分类树，类似于添加菜单那里的选择 -->
									</select>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">分类名称</label>
								<div class="controls">
									<input type="text" name="catname" value=""><span class="form-required">*</span>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">分类描述</label>
								<div class="controls">
									<textarea name="description" rows="5" cols="57"></textarea>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">分类类型</label>
								<div class="controls">
									<select name="type">
							        	<option value="1">文章</option>
							        	<option value="2">图集</option>
									</select>
								</div>
							</div>
						</fieldset>
		          </div>
		        </div>
		    </div>
		    <div class="form-actions">
		     	<button class="btn btn-primary js-ajax-submit"type="submit">添加</button>
		      	<a class="btn" href="javascript:history.back(-1);">返回</a>
		    </div>
		</form>
	</div>
	<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
</body>
</html>