
@font-face {font-family: "ui-icon";
  src:
  url('iconfont.ttf?t=1537162817939') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1537162817939#ui-icon') format('svg'); /* iOS 4.1- */
}

.ui-icon {
  font-family:"ui-icon" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-more-row:before { content: "\e684"; }

.icon-more-col:before { content: "\e6a5"; }

.icon-wifi:before { content: "\e6f2"; }

.icon-list-row:before { content: "\e600"; }

.icon-box:before { content: "\e6cb"; }

.icon-remind:before { content: "\e713"; }

.icon-cart:before { content: "\e63f"; }

.icon-erweima:before { content: "\e642"; }

.icon-saoyisao:before { content: "\e649"; }

.icon-setting:before { content: "\e64b"; }

.icon-shengyin:before { content: "\e64c"; }

.icon-time:before { content: "\e64d"; }

.icon-search:before { content: "\e651"; }

.icon-photo:before { content: "\e663"; }

.icon-message:before { content: "\e665"; }

.icon-daohang:before { content: "\e652"; }

.icon-mall:before { content: "\e60b"; }

.icon-phone:before { content: "\e660"; }

.icon-yuyin:before { content: "\e687"; }

.icon-shield:before { content: "\e646"; }

.icon-share:before { content: "\e632"; }

.icon-arrow-down:before { content: "\e692"; }

.icon-arrow-left:before { content: "\e693"; }

.icon-arrow-right:before { content: "\e694"; }

.icon-arrow-up:before { content: "\e695"; }

.icon-close:before { content: "\e69a"; }

.icon-add:before { content: "\e6b9"; }

.icon-minus:before { content: "\e6ba"; }

.icon-qzone:before { content: "\e697"; }

.icon-weixinfriend:before { content: "\e606"; }

.icon-address:before { content: "\e614"; }

.icon-delete:before { content: "\e636"; }

.icon-user:before { content: "\e6a4"; }

.icon-service:before { content: "\e625"; }

.icon-edit:before { content: "\e67c"; }

.icon-android:before { content: "\e881"; }

.icon-apple:before { content: "\e882"; }

.icon-qq:before { content: "\e883"; }

.icon-weibo:before { content: "\e884"; }

.icon-weixin:before { content: "\e885"; }

.icon-alipay:before { content: "\e886"; }

