{include file="open/header" /} 
</head>
<body>
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
			<li><a href="{:url('role/index')}">角色管理</a></li>
			<li class="active"><a href="{:url('role/add')}">添加角色</a></li>
		</ul>
		<form class="form-horizontal js-ajax-form" action="{:url('role/add_post')}" method="post">
			<fieldset>
				<div class="control-group">
					<label class="control-label">角色名称</label>
					<div class="controls">
						<input type="text" name="name" value="" id="rolename"/>
						<span class="form-required">*</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">角色描述</label>
					<div class="controls">
						<textarea name="remark" rows="2" cols="20" id="remark" class="inputtext" style="height: 100px; width: 500px;"></textarea>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">状态</label>
					<div class="controls">
						<label class="radio inline" for="active_true"><input type="radio" name="status" value="1" checked id="active_true" />启用</label>
						<label class="radio inline" for="active_false"><input type="radio" name="status" value="0" id="active_false">禁用</label>
					</div>
				</div>
			</fieldset>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary js-ajax-submit">添加</button>
				<a class="btn" href="javascript:history.back(-1);">返回</a>
			</div>
		</form>
	</div>
	<script src="__PUBLIC__/js/common.js"></script>
</body>
</html>