{include file="open/header" /}
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li><a href="{:url('family/index')}">会员列表</a></li>
			<li class="active"><a>换绑手表</a></li>
		</ul>
		<form method="post" class="form-horizontal js-ajax-form" action="{:url('family/unbind_post')}">
			<fieldset>
				<div class="control-group">
					<label class="control-label">会员名称</label>
					<div class="controls">
						<input type="text"  value="{$member_name}" disabled="disabled">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">原手表IMEI</label>
					<div class="controls">
						<input type="text" name="old_watch_imei" value="{$watch_imei}" disabled="disabled">
						<span class="form-required">*</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">手表新IMEI</label>
					<div class="controls">
						<input type="text" name="watch_imei" value="">
						<span class="form-required">*IMEI为空默认为解绑</span>
					</div>
				</div>
			</fieldset>
			<div class="form-actions">
				<input type="hidden" name="member_id" value="" />
				<button type="submit" class="btn btn-primary js-ajax-submit">换绑</button>
				<a class="btn" href="javascript:history.back(-1);">返回</a>
			</div>
		</form>
	</div>
</body>
</html>