{include file="open/header" /}
</head>
<body>
<div class="wrap js-check-wrap">
    <ul class="nav nav-tabs">
        <li class="active"><a href="{:url('Experience/index')}">经验明细</a></li>
    </ul>
    <form class="well form-search" method="get" action="{:url('Experience/index')}">
        会员账号：
        <input type="text" name="member_mobile" style="width: 200px;" value="{$Think.get.member_mobile}" placeholder="请输入会员账号">
        时间：
        <input type="text" name="start_time" class="js-datetime" value="{$Think.get.start_time}" style="width: 120px;" autocomplete="off">-
        <input type="text" name="end_time" class="js-datetime"  value="{$Think.get.end_time}" style="width: 120px;" autocomplete="off"> &nbsp; &nbsp;
        <input type="submit" class="btn btn-primary" value="搜索" />
        <a class="btn btn-danger" href="{:url('Experience/index')}">清空</a>
    </form>
    <form class="js-ajax-form" action="" method="post">
        <table class="table table-hover table-bordered table-list">
            <thead>
            <tr>
                <th width="50">ID</th>
                <th width="80">会员名称</th>
                <th width="80">会员账号</th>
                <th width="50">经验值</th>
                <th width="50">类型</th>
                <th width="50">操作时间</th>
                <th width="50">描述</th>
            </tr>
            </thead>
            {foreach name="experience" item="vo"}
            <tr>
                <td>{$vo.ex_id}</td>
                <td>{$vo.member_name}</td>
                <td>{$vo.member_mobile}</td>
                <td>{$vo.experience}</td>
                <td>{$vo.type}</td>
                <td>{:date("Y-m-d H:i:s",$vo.add_time)}</td>
                <td>{$vo.ex_desc}</td>
            </tr>
            {/foreach}
        </table>
        {$page}
    </form>
</div>
<script src="__PUBLIC__/js/common.js"></script>
</body>
</html>