{include file="open/header" /} 
</head>
<body>
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a href="{:url('mange/index')}">管理员列表</a></li>
			<li><a href="{:url('mange/add')}">管理员添加</a></li>
		</ul>
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th width="50">ID</th>
					<th>用户名</th>
					<th>角色</th>
					<th>最后登录IP</th>
					<th>最后登录时间</th>
					<th>登录次数</th>
					<th>状态</th>
					<th width="120">操作</th>
				</tr>
			</thead>
			<tbody>
				{foreach name="users" item="vo"}
				<tr>
					<td>{$vo.admin_id}</td>
					<td>{$vo.admin_name}</td>
					<td>{$vo.role ?= $vo.role.name}</td>
					<td>{$vo.login_ip}</td>
					<td>
						{if condition="$vo['login_time'] eq 0"}
							该用户暂无登录记录
						{else /}
							{:date('Y-m-d H:s',$vo.login_time)}
						{/if}
					</td>
					<td>{$vo['login_num']}</td>
					<td>{if condition="$vo['admin_status'] eq 1"}正常{else/}锁定{/if}</td>
					<td>
						{if condition="$vo['admin_id'] eq 1"}
							{if condition="$vo['admin_id'] eq sp_get_current_admin_id()"}
							<a href='{:url("mange/edit",array("id"=>$vo["admin_id"]))}'>编辑</a> |
							{else}
							<font color="#cccccc">编辑</font> |
							{/if}
						 	<font color="#cccccc">删除</font> |
							{if condition="$vo['admin_status'] eq 1"}
								<font color="#cccccc">锁定</font>
							{else /}
								<font color="#cccccc">解锁</font>
							{/if}
						{else /}
							<a href='{:url("mange/edit",array("id"=>$vo["admin_id"]))}'>编辑</a> |
							{if condition="$vo['admin_status'] eq 1"}
								<a href="{:url('mange/lock',array('id'=>$vo['admin_id']))}" class="js-ajax-dialog-btn" data-msg="您确定要锁定此用户吗？">锁定</a> | 
							{else /}
								<a href="{:url('mange/unlock',array('id'=>$vo['admin_id']))}" class="js-ajax-dialog-btn" data-msg="您确定要解锁此用户吗？">解锁</a> | 
							{/if}
							<a class="js-ajax-delete" href="{:url('mange/delete',array('id'=>$vo['admin_id']))}">删除</a>
						{/if}
					</td>
				</tr>
				{/foreach}
			</tbody>
		</table>
		{$page}
	</div>
	<script src="__PUBLIC__/js/common.js"></script>
</body>
</html>