<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="ncsc-oredr-show">
    <div class="ncsc-order-info">
        <div class="ncsc-order-details">
            <div class="title">客户信息</div>
            <div class="content">
                <dl>
                    <dt>客户姓名：</dt>
                    <dd>张三分</dd>
                </dl>
                <dl>
                    <dt>性别：</dt>
                    <dd>男</dd>
                </dl>
                <dl>
                    <dt>联系方式：</dt>
                    <dd>15784978978</dd>
                </dl>
                <dl class="line">
                    <dt>消费金额：</dt>
                    <dd>&yen;48848.00<a href="javascript:void(0);">更多<i class="icon-angle-down"></i>
                        <div class="more"><span class="arrow"></span>
                            <ul>
                                <li>地址：<span>一个犄角旮旯里                             </span></li>
                                <li>注册时间：<span>2017-08-30 14:31:00</span></li>
                            </ul>
                        </div>
                    </a></dd>
                </dl>
                <dl>
                    <dt></dt>
                    <dd></dd>
                </dl>
            </div>
        </div>
        <div class="ncsc-order-condition" >
            <dl>
                <dt><i class="icon-bookmark green"></i>消费记录：</dt>
            </dl>
            <div style="overflow:auto;height:115px;">
                <table class="ncsc-default-table" >
                    <thead>
                    <tr>
                        <th class="w100">订单编号</th>
                        <th class="w100">产品类型</th>
                        <th class="w40">状态</th>
                        <th class="w130">下单时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="bd-line">
                        <td height="30">900014154681</td>
                        <td class="w100">小活宝</td>
                        <td>已激活</td>
                        <td>2017-08-31 13:57</td>
                    </tr>
                    <tr class="bd-line">
                        <td height="30">900014154681</td>
                        <td class="w100">小活宝</td>
                        <td>已激活</td>
                        <td>2017-08-31 13:57</td>
                    </tr>
                    <tr class="bd-line">
                        <td height="30">900014154681</td>
                        <td class="w100">小活宝</td>
                        <td>已激活</td>
                        <td>2017-08-31 13:57</td>
                    </tr>
                    <tr class="bd-line">
                        <td height="30">900014154681</td>
                        <td class="w100">小活宝</td>
                        <td>已激活</td>
                        <td>2017-08-31 13:57</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="ncsc-order-condition">
        <dl>
            <dt><i class="icon-heart green"></i>健康报告：</dt>
        </dl>
        <ul>
            <iframe width="800" height="200" src="test_pdf.pdf"> </iframe>
        </ul>
    </div>
    <div class="ncsc-order-condition">
        <dl>
            <dt><i class="icon-flag green"></i>产品推介：</dt>
        </dl>
        <ul>
            <iframe width="800" height="200" src="test_pdf.pdf"> </iframe>
        </ul>
    </div>
</div>
</body>
</html>