<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="tabmenu">
    <ul class="tab pngFix">
        <li class="active"><a  href="{:url('SellerCenter/order_setting')}">地址库</a></li>
        <li class="normal"><a  href="{:url('SellerCenter/order_logistics')}">默认物流公司</a></li>
    </ul>
    <a href="#1" class="ncsc-btn ncsc-btn-green" nc_type="dialog" dialog_title="新增地址" dialog_id="my_address_add"  uri="" dialog_width="550" title="新增地址" onclick="adderess()">新增地址</a></div>
<table class="ncsc-default-table" >
    <thead>
    <tr>
        <th class="w70">是否默认</th>
        <th class="w90">联系人</th>
        <th class="tl">发货地址</th>
        <th class="w150">电话</th>
        <th class="w110">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr class="bd-line">
        <td>
            <label for="is_default_2"><input type="radio" id="is_default_2" name="is_default"  value="2">
                默认</label>
        </td>
        <td>晋中分部</td>
        <td class="tl">天津	天津市	河北区&nbsp;都是弹丸啊打多少阿达多少啊</td>
        <td><span class="tel">13456123</span> <br/>
        <td class="nscs-table-handle"><span><a href="#1" dialog_id="my_address_edit" dialog_width="640" dialog_title="编辑地址" nc_type="dialog" class="btn-blue" onclick="adderess()"><i class="icon-edit"></i>
            <p>编辑</p>
        </a></span><span> <a href="#1" onclick="conf()" class="btn-red"><i class="icon-trash"></i>
            <p>删除</p>
        </a></span></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="20">&nbsp;</td>
    </tr>
    </tfoot>
</table>
<div class="address_alert">
    <div id="fwin_my_address_add" class="dialog_wrapper ui-draggable" style="z-index: 1100; position: absolute; width: 550px; left: 300px; top: 150px;">
        <div class="dialog_body" style="position: relative;">
            <h3 class="dialog_head" style="cursor: move;">
            <span class="dialog_title">
                <span class="dialog_title_icon">新增地址</span>
            </span>
                <span class="dialog_close_button" onclick="closea()">X</span>
            </h3>
            <div class="dialog_content" style="margin: 0px; padding: 0px;">
                <div class="eject_con">
                    <div id="warning" class="alert alert-error"></div>
                    <form method="post" action="" id="address_form" target="_parent">
                        <input type="hidden" name="form_submit" value="ok">
                        <input type="hidden" name="address_id" value="">
                        <dl>
                            <dt><i class="required">*</i>联系人：</dt>
                            <dd>
                                <input type="text" class="text" name="seller_name" value="">
                            </dd>
                        </dl>
                        <dl>
                            <dt><i class="required">*</i>所在地区：</dt>
                            <dd>
                                <div id="region">
                                    <td class="address">
                                        <input id="sc_address" name="sc_address" type="hidden" value="" >
                                        <select id="province" class="province"></select>
                                        <select id="city" class="city"></select>
                                        <select id="area" class="area"></select>
                                        <span></span></td>
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt><i class="required">*</i>街道地址：</dt>
                            <dd>
                                <input class="text w300" type="text" name="address" value="">
                                <p class="hint">不必重复填写地区</p>
                            </dd>
                        </dl>
                        <dl>
                            <dt><i class="required">*</i>电话：</dt>
                            <dd>
                                <input type="text" class="text" name="telphone" value="">
                            </dd>
                        </dl>
                        <dl>
                            <dt class="required">公司：</dt>
                            <dd>
                                <input type="text" class="text" name="company" value="">
                            </dd>
                        </dl>
                        <div class="bottom">
                            <label class="submit-border"><input type="submit" nctype="address_add_submit" class="submit" value="保存"></label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="dialog_manage_screen_locker" style="position: absolute; top: 0px; left: 0px; background-color: transparent; opacity: 0; z-index: 999; width: 1345px; height: 953px;"></div>
</div>
<script>
    $(function(){
        $(".address_alert").hide();
    })
    function adderess(){
        $(".address_alert").show();
    }
    function closea(){
        $(".address_alert").hide();
    }
    function conf(){
        confirm("您确定要删除这个地址吗？")
    }
</script>
<script type="text/javascript" src="__PUBLIC__/js/home_index.js" charset="utf-8"></script>
</body>
</html>