<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="ncsc-oredr-show">
    <div class="ncsc-order-info">
        <div class="ncsc-order-details">
            <div class="title">订单信息</div>
            <div class="content">
                <dl>
                    <dt>收货公司：</dt>
                    <dd>晋中分部&nbsp; 13233003610&nbsp; 晋中市榆次区清苑巷669号</dd>
                </dl>
                <dl>
                    <dt>所属省级：</dt>
                    <dd>山西省</dd>
                </dl>
                <dl>
                    <dt>联系方式：</dt>
                    <dd>400-11-9408</dd>
                </dl>
                <dl class="line">
                    <dt>订单编号：</dt>
                    <dd>9000000000000101<a href="javascript:void(0);">更多<i class="icon-angle-down"></i>
                        <div class="more"><span class="arrow"></span>
                            <ul>
                                <li>支付方式：<span>在线付款                                    </span></li>
                                <li>下单时间：<span>2017-08-30 14:31:00</span></li>
                            </ul>
                        </div>
                    </a></dd>
                </dl>
                <dl>
                    <dt></dt>
                    <dd></dd>
                </dl>
            </div>
        </div>
        <div class="ncsc-order-condition">
            <dl>
                <dt><i class="icon-ok-circle green"></i>订单状态：</dt>
                <dd>订单已经提交，等待二级分部付款</dd>
            </dl>
            <ul>
                <li>1. 该分部尚未对该订单进行支付。</li>
                <li>2. 如果该分部未对该笔订单进行支付操作，系统将于
                    <time>2017-09-02 14:31:00</time>
                    自动关闭该订单。</li>
            </ul>
        </div>
    </div>
    <div id="order-step" class="ncsc-order-step">
        <dl class="step-first current">
            <dt>发起申请</dt>
            <dd class="bg"></dd>
            <dd class="date" title="发起申请">2017-08-30 14:31:00</dd>
        </dl>
        <dl class="step-second current">
            <dt>审核</dt>
            <dd class="bg"> </dd>
            <dd class="date" title="审核">2017-08-31 08:00:00</dd>
        </dl>
        <dl class="step-third">
            <dt>支付</dt>
            <dd class="bg"> </dd>
            <dd class="date" title="支付">1970-01-01 08:00:00</dd>
        </dl>
        <dl class="step-fourth">
            <dt>发货</dt>
            <dd class="bg"> </dd>
            <dd class="date" title="发货">1970-01-01 08:00:00</dd>
        </dl>
        <dl class=step-fifth"">
            <dt>完成</dt>
            <dd class="bg"></dd>
            <dd class="date" title="完成">1970-01-01 08:00:00</dd>
        </dl>
    </div>
    <div class="ncsc-order-contnet">
        <table class="ncsc-default-table order">
            <thead>
            <tr>
                <th class="w10">&nbsp;</th>
                <th colspan="2">商品</th>
                <th class="w120">单价(元)</th>
                <th class="w60">数量</th>
                <th class="w100">申请公司</th>
                <th class=""><strong>总金额(元)</strong></th>
                <th>交易操作</th>
            </tr>
            </thead>
            <tbody>
            <tr class="bd-line">
                <td>&nbsp;</td>
                <td class="w50"><div class="pic-thumb"><a  href="#1"><img src="" /></a></div></td>
                <td class="tl"><dl class="goods-name">
                    <dt><a href="#1">小活宝</a></dt>
                    <dd>
                </dl></td>
                <td>4888.00            <p class="green">
                </p></td>
                <td>1100</td>
                <td>
                    <p >山西省</p>
                    <p >晋中分公司</p>
                </td>
                <td class="commis bdl bdr">
                    <p>&yen;4888*1100</p><p>=&yen;4888000</p>
                </td>
                <td class="bdl bdr" rowspan="1"><span style="color:#36C">待付款</span>
                </td>
                <!-- E 合并TD -->
            </tr>

            <!-- S 赠品列表 -->
            <!-- E 赠品列表 -->

            </tbody>
            <tfoot>
            <tr>
                <td colspan="20"><dl class="freight">
                    <dd>
                        在线支付
                    </dd>
                </dl>
                    <dl class="sum">
                        <dt>订单金额：</dt>
                        <dd><em>4888000.00</em>元</dd>
                    </dl></td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
</body>
</html>