{include file="open/header" /}
</head>
    <body>
<div class="container">
    <h4>固件发布记录查询</h4>
    <div class="alert alert-warning alert-dismissible" role="alert">
        <strong>提示！</strong>
        <ul>
            <li>1.产品ID，0：地面机器人，1：桌面机器人。</li>
            <li>2.应用ID，0：单片机，1：安卓launcher，其他：其他应用对应ID。</li>
            <li>3.失效的固件设备将无法更新。</li>
            <li>4.允许部分设备更新的固件将鼠标放在"部分"上可看到允许的客户端ID列表。</li>
        </ul>
    </div>
   <!--  <div class="form-inline">
        <div class="form-group">
            <input class="form-control" id="otaName" placeholder="固件名">
        </div>
        <div class="form-group">
            <input class="form-control" id="otaProId" placeholder="产品ID">
        </div>
        <div class="form-group">
            <input class="form-control" id="otaAppId" placeholder="应用ID">
        </div>
        <button type="button" class="btn btn-default" id="queryBtn">查询</button>
    </div> -->
    <br>
    <table class="table table-bordered table-hover" id="ota-table"></table>
    <div id="ota-table-page"></div>
</div>

<table class="table table-hover table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>固件名</th>
        <th>产品ID</th>
        <th>应用ID</th>
        <th>版本</th>
        <th>固件</th>
        <th>状态</th>
        <th>允许更新</th>
        <th>发布时间</th>
    </tr>
    </thead>
    <tbody>
    <!-- <% for(let i = 0; i < list.length; i++){ %>
    <% let ota = list[i]; %> -->
    {foreach name="otas" item="ota"}
    <tr>
        <td>{$ota['id']}</td>
        <td>{$ota['name']}</td>
        <td>{$ota['proId']}</td>
        <td>{$ota['appId']}</td>
        <td>{$ota['version']}</td>
        <td><a href="__UPLOAD__/ota/{$ota['url']}" target="_blank">点击下载</a></td>
        <td data-ota-id="{$ota['id']}" data-ota-status="{$ota['status']}">
            {if condition="$ota['status'] eq 1")} 
            	当前有效 <a href="javascript:;" class="status-btn">使无效</a>
            {else/} 
            	当前无效 <a href="javascript:;" class="status-btn">使有效</a> 
            {/if}
        </td>
        <td>
            {if condition="!empty($ota['allows'])" }
            	<span title="{$ota['allows']}>"> 部分 </span>
            {else/}
            	全部
            {/if}
        </td>
        <td>{$ota['time']}</td>
    </tr>
    {/foreach}
    </tbody>
</table>

<script th:inline="javascript" type="text/javascript">
    $(function () {
        let History = {
            init: function () {
                let that = this;
                // this.param = {
                //     pageNum: 1,
                //     pageSize: 10,
                // };

                // $('#queryBtn').on('click', function () {
                //     that.param.name = $.trim($('#otaName').val());
                //     that.param.proId = $.trim($('#otaProId').val());
                //     that.param.appId = $.trim($('#otaAppId').val());
                //     that.load();
                // });

                $(document).on('click', '.status-btn', function () {
                    let $td = $(this).parents('td'), param = {};
                    param.id = $td.data('otaId');
                    param.status = !$td.data('otaStatus') ? 1 : 0; //修改状态
                    $.ajax({
                        url: 'update',
                        data: param,
                        type: 'post',
                        dataType: 'json',
                    }).fail(function (data) {
                        alert('请求失败' + data.msg);
                    }).done(function (data) {
                        // if (!data.success) {
                        //     alert(data.message);
                        //     return;
                        // }
                        // that.load();
                        if (data.code == 1) {
                        	alert('修改成功');
                        	location.reload();
                        } else {
                        	alert(data.msg);
                        }
                    });
                });
                return this;
            }
            // load: function () {
            //     $.ajax({
            //         url: '/api/v1/ota/page',
            //         data: this.param,
            //         type: 'get',
            //         dataType: 'json',
            //     }).fail(function (data) {
            //         alert(data.responseText);
            //     }).done(function (data) {
            //         if (!data.success) {
            //             alert(data.message);
            //             return;
            //         }
            //         let result = data.result;
            //         $('#ota-table').html(_.template($('#otaTemplate').html())({list: result.list}));
            //         $('#ota-table-page').twbsPagination({
            //             currentPage: result.pageNum,
            //             totalPages: result.pages,
            //             first: "首页",
            //             last: "未页",
            //             prev: '上一页',
            //             next: '下一页',
            //             onPageClick: function (event, page) {
            //                 History.param.pageNum = page;
            //                 History.load();
            //             }
            //         });
            //     });
            // }
        };
        History.init();
    });
    </script>
</body>
</html>