{include file="open/header" /}
</head>
<body>
<div class="wrap js-check-wrap">
	<ul class="nav nav-tabs">
		<li class="active"><a href="javascript::void(0);">销售员列表</a></li>
	</ul>
	<form class="well form-search" method="get" action="{:url('company/seller_list')}">
		销售员姓名：
		<input type="text" name="seller_name" style="width: 200px;" value="{$Think.get.seller_name}" placeholder="请输入销售员姓名" />
		身份证号：
		<input type="text" name="id_card" style="width: 200px;" value="{$Think.get.id_card}" placeholder="请输入身份证号" />
		销售员账号：
		<input type="text" name="seller_mobile" value="{$Think.get.seller_mobile}" placeholder="请输入销售员账号" />
		销售员状态：
		<select name="seller_state" style="width: 100px;">
			<option value="" {if condition="empty($Think.get.seller_state)"} selected {/if}>请选择</option>
			<option value="1" {if condition="$Think.get.seller_state == 1"} selected {/if}>待审核</option>
			<option value="2" {if condition="$Think.get.seller_state == 2"} selected {/if}>正常</option>
			<option value="3" {if condition="$Think.get.seller_state == 3"} selected {/if}>锁定</option>
		</select>
		销售员身份：
		<select name="seller_role" style="width: 140px;">
			<option value="" {if condition="empty($Think.get.seller_role)"} selected {/if}>请选择</option>
			<option value="1" {if condition="$Think.get.seller_role == 1"} selected {/if}>消费商</option>
			<option value="2" {if condition="$Think.get.seller_role == 2"} selected {/if}>会员兼库管员</option>
			<option value="3" {if condition="$Think.get.seller_role == 3"} selected {/if}>消费商兼库管员</option>
		</select>
		<input type="submit" class="btn btn-primary" value="搜索" />
		<a class="btn btn-danger" href="{:url('company/seller_list')}">清空</a>
	</form>
	<form class="js-ajax-form" action="" method="post">
		<table class="table table-hover table-bordered table-list">
			<thead>
			<tr>
				<th width="30">ID</th>
				<th width="80">会员名</th>
				<th width="80">真实姓名</th>
				<th width="80">身份证号</th>
				<th width="80">销售员账号</th>
				<th width="80">销售员身份</th>
				<th width="80">所属公司</th>
				<th width="50">销售员状态</th>
				<th width="50">添加时间</th>
				<th width="100">操作</th>
			</tr>
			</thead>
			<tbody>
			{foreach name="seller" item="vo"}
			<tr>
				<td>{$vo.seller_id}</td>
				<td>{$vo.member_name}</td>
				<td>{$vo.seller_name}</td>
				<td>{$vo.id_card}</td>
				<td>{$vo.seller_mobile}</td>
				<td>
					{switch name="vo.seller_role"}
					{case value="1"}消费商{/case}
					{case value="2"}会员兼库管员{/case}
					{case value="3"}消费商兼库管员{/case}
					{/switch}
				</td>
				<td>{$vo.store_name}</td>
				<td>
					{switch name="vo.seller_state"}
					{case value="1"}待审核{/case}
					{case value="2"}正常{/case}
					{case value="3"}锁定{/case}
					{/switch}
				</td>
				<td>{:date('Y-m-d H:i:s',$vo.apply_time)}</td>
				<td>
					<a href="{:url('company/seller_detail',['id'=>$vo.seller_id])}">查看详情</a>
					| <a href="{:url('seller/edit_seller',['seller_id'=>$vo.seller_id])}">编辑</a>
					{switch name="vo.seller_state"}
					{case value="2"} |  <a href="{:url('company/seller_lock',['id'=>$vo.seller_id])}">锁定</a> {/case}
					{case value="3"} |  <a href="{:url('company/seller_unlock',['id'=>$vo.seller_id])}">解锁</a> {/case}
					{/switch}
					{switch name="vo.seller_state"}
					{case value="1"} | <a href="{:url('company/delete_seller',['id'=>$vo.seller_id])}" class="js-ajax-delete">删除</a>{/case}
					{/switch}
				</td>
			</tr>
			{/foreach}
			</tbody>
		</table>
		<div class="pagination">{$page}</div>
	</form>
</div>
</body>
</html>